#container{
    background-color: white;
    max-width: 1024px;
    margin: auto;
}
.header{
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    display: flex;
}
#logo{
    justify-content: flex-start;
}
#phone{
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 600px;
}
.box1{
    text-align: center;
    background-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box2{
    display: flex;
    background-color: lightgray;
    
}
#big{
    background-color: aliceblue;
    margin: 20px;
    padding: 5px;
    text-align: center;
    width: 60%;
}
#small{
    background-color: aliceblue;
    margin: 20px;
    padding: 5px;
    text-align: center;
    width: 40%;
}
.footer{
    background-color: #333;
    text-align: center;
    font-size: large;
    padding: 10px;
    color: #f2f2f2;
}

