body{
    background-color: whitesmoke;
    font-family: 'Lato';
    font-size: 3vw;
    
}

div#container{
    display: flex;
    justify-content: center;
    text-align: left;
    word-spacing: normal;
    width: 100%;
    align-items: center;
    margin: 0;
    min-height: auto;
}

div#title{
    border: 8px solid black;
    padding: 30px;
    margin-right: 350px;
    margin-left: 0px;
    margin-top: 80px;
}
div#images{
    margin-top: 0px;
    margin-right: 70px;
}

h1 {
    font-size: 100px;
    margin-bottom: -2px;
    margin-right: 10px;
}
p{
    font-size: 30px;
}
