body{
    background-color: black;
    font-family: 'Lato',sans-serif;
    
}

div#container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background-color: black;
}
div#text{
    border-left: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
    color: #f6f0f0;
    width: 50%;
    height: 50%;
    margin: 60px;
}

div#images{
    border-right: 2px solid white;
    width: 50%;
    height: 50%;
    margin: 100px;
    padding: 10px;
}

p{
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
    padding: 70px;
    margin: 10px;
}

.one{
    font-style: oblique;
}
.two{
    font-size: 50px;
    line-height: 200px;
}
