body{
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Lato';
    font-size: 14px;
}
#big{
    background-color: #FFFFFF;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    background-color: #b0a4a480;
    padding: 14px 16px;
    justify-content: space-between;
    position: fixed;
    width: 98%;
    flex-wrap: wrap;
}
.nav div a{
    color: #333;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    justify-content: flex-start;
}
.nav a:hover{
    background-color: wheat;
    color: #000;
}

.small{
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    text-align: right;
    padding-top: 10px;
    margin-top: 50px;
}

.box{
    display: flex;
    width: 100%;
}
h1{
    font-family: 'Lato';
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}

.write{
    font-family: 'Lato';
    font-size: 24px;
    padding-left: 30px;
}
.ans{
    font-family: 'Lato';
    font-size: 24px;
    color: #B0A4A4;
    padding-left: 20px;
}
.write p{
    margin-bottom: 20px;
    margin-top: 20px;
}
.ans p{
    margin-bottom: 20px;
    margin-top: 20px;
}
.one{
    font-family: 'Lato';
    font-size: 20px;
    color: #1F1BE7;
    padding-left: 30px;
    margin-top: 30px;
}
.two{
    font-family: 'Lato';
    font-size: 20px;
    color: black;
    margin-top: 30px;
}
.sbox{
    display: flex;
}
.next{
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}
.icon2{
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

@media screen and (max-width:480px) {
    .text{
        flex-wrap: wrap;
    }
    h1{
        margin-top: 100px;
    }
    .icon{
        flex-wrap: wrap;
    }
    .small{
        flex-direction: column;
    }
    .photo{
        display: none;
    }
    .write{
        font-size: 15px;
    }
    .ans{
        font-size: 15px;
    }
    
}
