body{
    margin: 0;
    background-color: #FFD0D0;
    font-family: 'Lato';
    font-size: 14px;
}
#big{
    background-color: #FFD0D0;
    margin: auto;
}
.nav{
    display: flex;
    background-color: #b0a4a480;
    padding: 14px 16px;
    justify-content: space-between;
}
.nav div a{
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: flex-start;
}
.nav a:hover{
    background-color: wheat;
    color: #000;
}

.container{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: black;
}

p{
    color: black;
    font-size: 24px;
}