body{
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Lato';
    font-size: 14px;
}
#big{
    background-color: #FFFFFF;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    background-color: #b0a4a480;
    padding: 14px 16px;
    justify-content: space-between;
    position: fixed;
    width: 98%;
    flex-wrap: wrap;
    z-index: 100;
}
.nav div a{
    color: #333;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    justify-content: flex-start;
}
.nav a:hover{
    background-color: wheat;
    color: #000;
}
.small{
    justify-content: center;
    display: flex;
    text-align: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .small:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.heading{
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 30px;
}
.container{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sbox{
    display: flex;
    justify-content: space-evenly;
}
.b1{
    background: #b0a4a480;
    width: 33.33%;
    margin: 20px 10px 20px 10px;
    justify-content: center;
}
p{
    color: #1f1be7;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}
h5{
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}
@media screen and (max-width:480px) {
    .small img{
        width: 300px;
    }
    .nav{
        z-index: 100;
    }
}