body{
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Lato';
    font-size: 14px;
}
#big{
    background-color: #FFFFFF;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    background-color: #b0a4a480;
    padding: 14px 16px;
    justify-content: space-between;
    position: fixed;
    width: 98%;
    flex-wrap: wrap;
}
.nav div a{
    color: #333;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    justify-content: flex-start;
}
.nav a:hover{
    background-color: wheat;
    color: #000;
}

.snav a{
    color: #000;
    position: relative;
    text-decoration: none;
}
.snav a:hover{
    color: #1f1be7;
    font-size: 20px;
    position: relative;
}
.snav li{
    list-style: none;
    margin-bottom: 10px;
}
.row{
    display: flex;
    
}
.boxpage1{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
#page3{
    margin-top: 60px;
    margin-bottom: 100px;
}
.sbox{
    margin-right: 10px;
}
.box2{
    padding: 20px;
    margin-top: 20px;
    max-width: 75%;
}
.box1{
    margin-top: 70px;
    position: relative;
    width: 100%;
    flex: 0 0 25%;
}
.snav{
    position: sticky;
    top: 180px;
}

.heading{
    color: #1f1be7;
    font-size: 30px;
    padding-top: 60px;
}
.text{
    color: #1f1be7;
    font-weight: 700;
    font-size: 16px;
}
h2{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 8px;
    margin-top: 0;
}
p{
    font-size: 16px;
    color: #999999;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.8;
}
.position{
    font-weight: 700;
    font-size: 18px;
}
ul{
    font-size: 16px;
    color: #999999;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.8;
}
.small{
    max-width: 45%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.Bbox{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.progress{
    background: #e6e6e6;
    position: relative;
}
.bar1{
    height:8px;
    width:90%;
    background: #1f1be7;
}
.bar1 span{
    position: absolute;
    top:-38px;
    right: 0;
    font-weight: 700;
    color: #000;
}
.bar2{
    height:8px;
    width:80%;
    background: #1f1be7;
}
.bar2 span{
    position: absolute;
    top:-38px;
    right: 0;
    font-weight: 700;
    color: #000;
}
.bar3{
    height:8px;
    width:70%;
    background: #1f1be7;
}
.bar3 span{
    position: absolute;
    top:-38px;
    right: 0;
    font-weight: 700;
    color: #000;
}
.bar4{
    height: 8px;
    width: 60%;
    background: #1f1be7;
}
.bar4 span{
    position: absolute;
    top: -38px;
    right: 0;
    font-weight: 700;
    color: #000;
}

@media screen and(max-width:480px) {
    .row{
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        flex-wrap: wrap;
    }
    .box1{
        position: relative;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .box2{
        position: relative;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}