.c1 {
    font-family: 'Noto Sans SC', sans-serif;
}

.navbar-dark .navbar-nav a.nav-link {
    color: #ffffff;
    font-size: 1.1em;
}

.dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 0;
    padding: 0.7em;
}

@media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }

    .dropdown-menu.show {
        display: flex;
    }
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu li .dropdown-item {
    color: gray;
    font-size: 1em;
    padding: 0.5em 1em;
    text-align: center;
}

.dropdown-menu li .dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #000000;
}

.dropdown-menu li:first-child a:hover {
    background-color: #f1f1f1;
}

.img {
    position: relative;
}

.start {
    text-align: center;
    position: absolute;
    top: 20px;
    width: 100%;
}

.start h1 {
    font-weight: bold;
}

#t h3 {
    font-weight: bold;
}

#title h1 {
    font-weight: bold;
}

#title {
    position: absolute;
    right: 5%;
    top: 10%;
}

.row {
    align-items: center;
}

.column h3 {
    font-weight: bold;
}

.row1 {
    background-color: #798777;
}

.row2 {
    background-color: #BDD2B6;
}

.column2 h3 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}




@media only screen and (max-width: 992px) {
    .dropdown-menu.show {
        flex-wrap: wrap;
        max-height: 350px;
        overflow-y: scroll;
    }

    .row2 {
        flex-direction: column-reverse;
    }

    #title {
        position: unset;
        text-align: center;
        margin: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
    .dropdown:hover .dropdown-menu {
        width: 40vw;
        flex-wrap: wrap;
    }
}

.footer {
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.10);
}