body{
    background-color: rgb(208, 230, 250);
}
h1{
color: rgb(7, 7, 103);
}
p{
    font-size: 16px;
}
div#name{
    text-align: center;
    background-image: url(img/green.jpg);
    background-size: 100%;
    background-repeat: repeat-x;
    background-position: center;
}
div#images{
    text-align: center;
    background-image: url(img/blur.jfif);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: center;
}